* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: cursive;
  letter-spacing: 3px;
}

h1 {
  font-size: 7rem;
  text-transform: uppercase;
}

.container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 50px;
}

.project {
  width: 30%;
  height: 550px;
  padding: 20px;
  border: 2px solid #aaa;
  border-radius: 20px;
  box-shadow: 1px 1px #aaa;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.project:hover {
  border-color: #555;
  box-shadow: 1px 1px #555;
}

.poster img {
  width: 470px;
  height: 300px;
}

.title {
  margin-top: 20px;
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
  font-weight: 800;
}

.description{
  font-size: 1.5rem;
  letter-spacing: 0;
}

.project button {
  align-self: center;
  bottom: 15px;
  width: 50%;
  height: 60px;
  font-size: 2rem;
  padding: 0 20px;
  margin-top: 20px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #09a974;
  color: white;
}
