body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .app {
    width: 50%;
    height: 80vh;
    background-color: #222;
    box-shadow: 0px 0px 35px 0px gold;
    margin-top: 40px;
    border-top: 3px solid gold;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .cards {
    height: 100px;
    display: flex;
    gap: 10px;
    padding: 25px 15px 0px;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #555;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 20px;
  }
  
  .card-title {
    font-size: 1.75rem;
  }
  
  .card:nth-child(1) .card-title {
    color: orange;
  }
  
  .card:nth-child(2) .card-title {
    color: #451dca;
  }
  
  .card:nth-child(3) .card-title {
    color: #19df6f;
  }
  
  .card-value {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-weight: bold;
    font-size: 2.25rem;
  }
  
  .card-value img {
    width: 30px;
    height: 30px;
  }
  
  .score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .score span {
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
  }
  
  .score img {
    width: 80px;
    height: 80px;
  }
  
  .progress {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .levels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.25rem;
  }
  
  .progress .bar,
  .progress .bar .inner-bar {
    height: 20px;
    border-radius: 50px;
  }
  
  .progress .bar {
    width: 100%;
    background-color: #555;
  }
  
  .progress .bar .inner-bar {
    width: 50%;
    background: #10e48c;
    background: linear-gradient(90deg, #10e48c 0%, #b42ac6 50%, #3b00ff 100%);
  }
  
  .tap-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    margin-bottom: 20px;
  }
  
  .tap-container button {
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 456px;
    height: 456px;
    background-image: url('./images/humster.png');
    background-position: center;
    background-size: auto;
    border-radius: 50%;
    z-index: 1;
    background-color: #0b1977;
    transform: scale(0.7);
    border: 15px solid #1e1adc;
  }

  .energy {
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }
  
  .energy span {
    font-size: 2.75rem;
    color: white;
    font-weight: bold;
  }
  
  .energy img {
    width: 4rem;
    height: 4rem;
  }
  
  .tap {
    position: absolute;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    animation: up 1s linear;
    user-select: none;
    z-index: 10;
  }
  
  @keyframes up {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate(-50%, -150px);
    }
  }