@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: white;
}

.container {
  margin: 30px auto;
  width: 400px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  color: black;
}

.inc-exp-container>div {
  flex: 1;
  text-align: center;
}

.inc-exp-container>div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
  font-size: 18px;
}

input[type='text'],
input[type='number'] {
  border: 2px solid white;
  border-radius: 6px;
  display: block;
  font-size: 22px;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  text-align: center;
  color: white;
}

input::placeholder{
  color: #bbb
}

input:-internal-autofill-selected{
  background-color: transparent;
}

.btn {
  cursor: pointer;
  background-color: limegreen;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 26px;
  margin: 20px auto 30px;
  padding: 10px 0;
  width: 70%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background: linear-gradient(135deg, white 80%, lime 100%);
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.radio-group {
  border: 2px solid white;
  border-radius: 10px;
  width:100%;
  margin: 20px auto; 
  padding: 0;
}

label:has(input[type=radio]) {
  padding: 20px;
  color: black;
  width: 50%;
  margin: 0;
  font-size: 24px;
  text-align: center;
}

label:has(input[type=radio][value=income]:checked) {
  background-color: #75e975;
  border-radius: 10px 0 0 10px;
}


label:has(input[type=radio][value=expense]:checked) {
  background-color: #cf6161;
  border-radius: 0 10px 10px 0;
}

input[type=radio] {
  display: none;
}

.card {
  width: 700px;
  margin: 10px auto;
  border: 1px solid #ccc;
  background-color: #444;
  border-radius: 10px;
  box-shadow: 0 0 4px 0px #ccc;
  padding: 10px 20px;
}

.error {
  color: red;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.btn:disabled{
  opacity: .4;
  cursor: not-allowed;
}