body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #00203f;
  color: #00203f;
  font-size: 24px;
}

img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  height: 35rem;
}

.section-center {
  width: 90vw;
  height: 55vh;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 340px;
  padding: 5rem 0;
}

.image {
  margin-bottom: 2rem;
}
.tabs {
  background: #adefd1;
  border-radius: 0.5rem;
  grid-template-rows: auto 1fr;
}
.tabs-navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab:nth-child(1) {
  border-top-left-radius: 0.5rem;
}
.tab:nth-child(3) {
  border-top-right-radius: 0.5rem;
}
.tab {
  padding: 1rem 0 1rem 2rem;
  border: none;
  font-size: 1.25rem;
  background: #adefd1;
  cursor: pointer;
  transition: all 0.3s linear;
  letter-spacing: 0.25rem;
}

.tab input {
  display: none;
}

.tabs-content {
  padding: 2rem 1.5rem;
}
.tab:has(input[type="radio"]:checked) {
  background: white;
}

@media (min-width: 992px) {
  .image {
    margin-bottom: 0;
  }

  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
