body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #444;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 650px;
}

.container h1 {
  font-size: 36px;
}

.container .phone-wrapper {
  background-color: white;
  padding: 35px 0px 30px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  color: black;
}

.phone-wrapper form {
  display: flex;
  gap: 15px;
  margin: 10px;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.phone-wrapper form input[type="text"] {
  border: none;
  width: 350px;
  border-bottom: 3px solid #851dad;
  padding: 10px;
  outline: none;
  font-size: 42px;
  text-align: center;
}

.phone-wrapper form input[type="text"]::placeholder {
  text-align: center;
  font-size: 16px;
}

.btn {
  background-color: #851dad;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 28px;
  cursor: pointer;
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

.btn.hidden {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#detection-result img {
  width: 100%;
  height: 180px;
}

.hint-wrapper {
  background-color: rgb(25, 97, 25);
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.hint-wrapper .icon {
  font-size: 30px;

}